@font-face {
  font-family: "PokemonGB";
  src: url("./assets/fonts/PokemonGB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PokemonGB", system-ui, -apple-system, Segoe UI, Roboto,
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-family: "PokemonGB", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  image-rendering: pixelated;
}

h2 {
  font-family: "PokemonGB", system-ui, sans-serif !important;
  font-size: 28px;
  letter-spacing: 1px;
}
code {
  font-family: "PokemonGB", system-ui, sans-serif !important;
}
